---
import PostMeta from './PostMeta.astro';

export interface Props {
  slug: string;
  title: string;
  description: string;
  image?: string;
  publishedAt?: string;
  updatedAt?: string;
}

const { slug, title, description, publishedAt, updatedAt } = Astro.props as Props;
---
<article class="card" style="margin-bottom: 16px;">
  <h2 class="card-title" style="margin-bottom: 2px;">
    <a href={`/blog/${slug}/`}>{title}</a>
  </h2>
  <div class="card-meta">
    <PostMeta publishedAt={publishedAt} updatedAt={updatedAt} />
  </div>
  {description && (
    <p class="card-description">{description}</p>
  )}
</article>
